---
import { Image } from 'astro:assets'

import { Quote } from 'astro-pure/advanced'
import { PostPreview } from 'astro-pure/components/pages'
import { getBlogCollection, sortMDByDate } from 'astro-pure/server'
import { Button, Card, Icon, Label } from 'astro-pure/user'
import PageLayout from '@/layouts/BaseLayout.astro'
import ProjectCard from '@/components/home/ProjectCard.astro'
import Section from '@/components/home/Section.astro'
import SkillLayout from '@/components/home/SkillLayout.astro'
import config from '@/site-config'

const languages = ['Python', 'Java', 'JavaScript', 'LaTeX']
const frameworks = [
  'React',
  'Astro',
  'Node.js',
  'Express.js',
]
const libraries = [
  'PyTorch',
  'TensorFlow',
  'Keras',
  'Scikit-learn',
  'Pandas',
  'NumPy',
]
const databases = ['MongoDB', 'SQL']
const tools = [
  'VS Code',
  'JupyterLab',
  'Google Sheets',
  'Obsidian',
  'Adobe Photoshop',
  'DaVinci Resolve',
  'Unity',
  'Godot',
]
const operatingSystems = ['Linux (Arch, WSL, CLI)', 'Windows']

const MAX_POSTS = 3
const allPosts = await getBlogCollection()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)

const imagePath = config.logo.src
const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/*.{jpeg,jpg,png,gif,avif,webp}'
)
if (!images[imagePath])
  throw new Error(
    `"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif,avif,webp}"`
  )
---

<PageLayout meta={{ title: 'Home' }} highlightColor='#659EB9'>
  <main class='flex w-full flex-col items-center'>
    <section class='animate mb-10 flex flex-col items-center gap-y-7' id='content-header'>
      <Image
        src={images[imagePath]()}
        alt={config.logo.alt || 'Profile'}
        class='h-28 w-auto rounded-full border p-1'
        loading='eager'
        fetchpriority='high'
      />

      <!-- location and view resume field -->
      <div class='flex flex-col items-center gap-y-4'>
        <h1 class='text-3xl font-medium'>{config.author}</h1>
        <div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
          <Label title='India'>
            <Icon name='location' class='size-5' slot='icon' />
          </Label>
          <Label
            title='View resume'
            as='a'
            href='https://drive.google.com/file/d/17P94ZJszAgSVX_7oqLEetDjlkBdurumU/view?usp=drive_link'
            target='_blank'
          >
            <Icon name='document' class='size-5' slot='icon' />
          </Label>
        </div>
      </div>

    <div id='content' class='animate flex flex-col gap-y-10 md:w-4/5 lg:w-5/6'>
      <Section title='About'>
        <p class='text-muted-foreground'>Developer / Artist / Photographer and a lot more</p>
        <p class='text-muted-foreground text-justify'>
          Hi ! this is <b> Rejit Antony</b>. though you might know me better around the community as<b> dream</b>. This is <b>THE website</b> where I wish to convey stuff I have done or doing or wanted to do, may not always be ~ tehc, since I love to dabble on a variety of things, and the technology enables me to. I am drawn to environments where my contribution matters to whatever magnitude. I try finding meaning in whatever software I write. This is not an adjacent interest; it is the specific direction I intend to develop my career.  
        </p>
        <Button title='More about me' class='w-fit self-end' href='/about' variant='ahead' />
      </Section>
      {
        allPostsByDate.length > 0 && (
          <Section title='Posts'>
            <ul class='flex flex-col gap-y-1.5 sm:gap-y-2'>
              {allPostsByDate.map((p) => (
                <li class='flex flex-col gap-x-2 sm:flex-row'>
                  <PostPreview post={p} />
                </li>
              ))}
            </ul>
            <Button title='More posts' class='w-fit self-end' href='/blog' variant='ahead' />
          </Section>
        )
      }

      <!-- {
            <Section title='Experience'>
          <Card
            heading='Lorem Ipsum'
            subheading='Sit amet consectetur'
            date='Dec 2022 - Nov 2023'
            imagePath='/src/assets/avatar.png'
            altText='Lorem, ipsum dolor sit'
            imageClass='h-12 w-auto md:-start-16'
          >
            <ul class='ms-4 list-disc text-muted-foreground'>
              <li>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore debitis recusandae, ut
                molestiae laboriosam pariatur!

                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, pariatur!</li>
              </li>
            </ul>
          </Card>
          <Card
            heading='Lorem Ipsum'
            subheading='Sit amet consectetur'
            date='Dec 2022 - Nov 2023'
            imagePath='/assets/avatar.png'
            altText='Lorem, ipsum dolor sit'
            imageClass='h-12 w-auto md:-start-16'
          />
        </Section> 
      } -->


      <Section title='Project List'>
        <div class='grid grid-cols-1 gap-3 sm:grid-cols-2'>
          <ProjectCard
            href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
            heading='Bipedal walker using TD3PG'
            subheading='A reinforcement learning approach to train a bipedal entity'
            imagePath='/src/assets/projects/RL.png'
          />
          <ProjectCard
            href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
            heading='Image Super Resolution'
            subheading='A Learning project figuring out how to super scale an image '
            imagePath='/src/assets/projects/invisimark.png'
          />
          <ProjectCard
            href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
            heading='Runes and Ranks'
            subheading='An autobattler made with godot engine'
            imagePath='/src/assets/projects/game.png'
          />
          <ProjectCard
            href='/projects'
            heading='More projects'
            subheading='Check out more projects'
            imagePath='/src/assets/projects/4.avif'
          />
        </div>
      </Section>

      <Section title='Certifications'>
        <Card
          as='a'
          href='#'
          heading='1st Place – FOSSIT (Free and Open-Source Software Event)'
          subheading='LUGVITC'
          date='April 2024'
        />
        <Card
          as='a'
          href='#'
          heading='Volunteer Recognition Award'
          subheading='Raptee.HV, CodeVolt Hackathon'
          date='March 2025'
        />
        <Card
          as='a'
          href='#'
          heading='Full Stack MERN Certification (Delta Course)'
          subheading='ApnaCollege'
        />
        <Card
          as='a'
          href='#'
          heading='Agile & Design Thinking'
          subheading='IBM'
        />
        <Card
          as='a'
          href='#'
          heading='DevOps Fundamentals'
          subheading='IBM'
        />
      </Section>

      <Section title='Skills'>
        <SkillLayout title='Languages' skills={languages} />
        <SkillLayout title='Databases' skills={databases} />
        <SkillLayout title='Frameworks' skills={frameworks} />
        <SkillLayout title='Libraries' skills={libraries} />
        <SkillLayout title='Tools' skills={tools} />
        <SkillLayout title='Operating Systems' skills={operatingSystems} />
      </Section>
    </div>
    <Quote class='mt-12' />

  </main>
</PageLayout>
